/*   This is the styling   */
body{
    height: 948px;
    background: linear-gradient(to right, #4b4b4b 0%, #111111ee 100%);
    }
    h1{
    color:white;
    text-align:center;
         border-left: 6px solid black;
      background-color: #2F383D;
    }
     p{
    color:white;
    text-align:center;
        }
    input{
        font-size:20px;
    opacity:0.5;
    text-align:center;
    display: block;
      margin-left: auto;
      margin-right: auto;
        width:40%;
    
    }
        button {
    
      display: block;
      margin-left: auto;
      margin-right: auto;
    
      padding: 10px 20px;
            text-align:center;
      font-size: 15px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: #fff;
      background-color:#39c639;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #999;
    }
    
    button:hover {background-color: #00CC00}
    
    button:active {
      background-color: #00CC00;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
