/*   This is the styling   */
body{
    height: 100%;
    background: linear-gradient(to right, #4b4b4b 0%, #111111ee 100%);
    background-color: #272727;
    }
    h1{
    color:white;
    text-align:center;
    border-left: 6px solid black;
      background-color: #2F383D;
      /* font-size: 40px; */
      font-size: 250%;
    }
     p{
    color:white;
    text-align:center;
    font-size: 120%;
    line-height: 1.6;
        }
    input{
    font-size:160%;
    opacity:0.5;
    text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:40%;
    
    }
    input:hover{
      height: 5%;
      width: 45%;
      font-size: 180%;
      opacity: 0.52;
    }
     #button {
    
      display: block;
      margin-left: auto;
      margin-right: auto;
    
      padding: 10px 20px;
      text-align:center;
      font-size: 130%;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: #fff;
      background-color:#39c639;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #999;
    }
    
    #button:hover {
      background-color: #00CC00;
      font-size: 150%;
    }
    
  #button:active {
      background-color: #00CC00;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
   #WhenEnterIsPressed {
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
      text-align:center;
    font-size: 120%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: tomato;
    border: 3px solid black;
    border-radius: 15px;

  }
  #subtitle {
    font-size: 30px;
  }
  #btasktomanyquestion {
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
      text-align:center;
    font-size: 120%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: tomato;
    border: 5px solid black;
    border-radius: 15px;
    opacity: 0.75;
  }
#sub {
  font-size: 30px;
}
#sub:hover {
  font-size: 35px;
  background-color: black;
  color: white;
  margin-left: 20%;
  margin-right: 20%;
  height: 20%;
}
